@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.header {
    width: 100%;
    background-image: url(/launchPad/Assets/Hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 0px 140px;
}

.logo {
    color: rgb(78, 71, 255);
    font-family: Inter;
    font-size: 32.25px;
    font-weight: 900;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: left;
    margin: 0px;
}

.logo span {
    color: #ff7f7f;
    /* Light red */
    font-weight: 900;
}



/*buttons*****/

.nav-link {

    width: 125px;
}

.Focused-button {
    width: 165px;

}

.launch-button {
    width: 217px;
}

.focus-button {

    width: 190px;
    height: 45px;

}

.contact-button {
    width: 471px;
    height: 58.81px;
}

/*************/

/*shared style*/

.button-style {
    height: 45.5px;
    border-radius: 10px;
    background: rgb(78, 71, 255);
    color: rgb(255, 255, 255);
    font-family: Raleway;
    font-size: 15px;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
    border-style: none;
}

.button-style:hover {
    background: linear-gradient(135deg, #6a11cb 0%, #2575fc 100%);
    box-shadow: 0 6px 18px rgba(98, 0, 234, 0.3);
}

.container-width {
    max-width: 1080px;
    width: 100%;
    margin: 0 auto;
}

.member {
    color: rgb(78, 71, 255);
    font-family: Inter;
    font-size: 76px;
    font-weight: 700;
    line-height: 90px;
    letter-spacing: 0%;
    text-align: left;
    margin: 0px;
}

.member-type {
    color: rgba(0, 0, 0, 0.5);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: center;
}

.card-title {
    /* Heading */
    color: rgb(30, 30, 30);
    font-family: Inter;
    font-size: 22px;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: -2%;
    text-align: left;
}

.card-description {
    /* Body Base */
    color: rgb(30, 30, 30);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 0%;
    text-align: left;
}

.reviewer-name {
    /* Body Strong */
    color: rgb(117, 117, 117);
    font-family: Inter;
    font-size: 14px;
    font-weight: 600;
    line-height: 140%;
    letter-spacing: 0%;
    text-align: left;
}

.reviewer-image {
    border-radius: 50%;
}

/***********/


.banner-container {
    max-width: 858px;
    width: 100%;
    min-height: 144px;
    margin: 293px auto 268px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner-title {
    color: rgb(37, 36, 50);
    font-family: Raleway;
    font-size: 61px;
    font-weight: 700;
    line-height: 72px;
    letter-spacing: 0%;
    text-align: center;
}

.hero {
    display: flex;
    justify-content: space-between;
    margin-bottom: 116px;

}

.hero-container {
    max-width: 490px;
    width: 100%;
}

.hero-title {
    color: rgb(37, 36, 50);
    font-family: Raleway;
    font-size: 39px;
    font-weight: 700;
    line-height: 45px;
    letter-spacing: 0%;
    text-align: left;
}

.hero-description {
    color: rgba(37, 36, 50, 0.5);
    font-family: Raleway;
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: left;
}

.statistics {
    border-radius: 24px;

    background: rgba(78, 71, 255, 0.1);
    padding: 50px 0 50px 0;
    margin-bottom: 137px;
}

.statistics-title {
    text-align: center;
    color: rgb(37, 36, 50);
    font-family: Raleway;
    font-size: 35px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 40px;
    margin-top: 0px;
}

.statistics-conatainer {

    display: flex;
    justify-content: space-around;

}



.review-title {
    color: rgb(37, 36, 50);
    font-family: Raleway;
    font-size: 40px;
    font-weight: 700;
    line-height: 45px;
    letter-spacing: 0%;
    text-align: center;
}

.card-container {
    display: flex;
    justify-content: space-between;

}

.card {
    box-sizing: border-box;
    border: 1px solid rgb(242, 237, 237);
    border-radius: 14px;

    background: rgba(255, 255, 255, 0.5);
}

.reviewer-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.focus {
    border-radius: 14px;

    background: rgb(255, 255, 255);
    margin-bottom: 164px;


}

.focus-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.focus-title {
    color: rgb(0, 0, 0);
    font-family: Raleway;
    font-size: 45px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: center;
}

.focus-description {
    /* Body Base */
    color: rgba(0, 0, 0, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 0%;
    text-align: center;
}

.focus-container>div {
    text-align: center;
}



.write-me {
    display: flex;
    gap: 115px;
    justify-content: center;
}

.write-me-title {
    color: rgb(0, 0, 0);
    font-family: Raleway;
    font-size: 90px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
}

.label-style {
    color: rgb(0, 0, 0);
    font-family: Inter;
    font-size: 15px;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
}

.input-style {
    width: 460px;
    height: 70px;
    box-sizing: border-box;
    border: 1px solid rgb(214, 221, 237);
    border-radius: 10px;

    background: rgb(255, 255, 255);
    padding: 10px;
}

.text-area-style {
    box-sizing: border-box;
    border: 1px solid rgb(214, 221, 237);
    border-radius: 10px;

    background: rgb(255, 255, 255);
    margin-bottom: 10px;
    color: rgba(0, 0, 0, 0.5);
    font-family: Inter;

    text-align: left;
    padding: 10px;
}

.write-me-container {
    padding: 20px 0px;
}

.input-spacing {
    padding: 10px 0;
}